// Importa las variables y mixins primero
@import '../styles/utils/variables.scss';
@import '../styles/utils/mixins.scss';

// Luego, importa estilos globales o generales
@import './views/App';

// Finalmente, importa los estilos de los componentes
@import './components/_Main.scss';
@import './components/_Header.scss';
@import './components/_Footer.scss';
@import "./components/_Home.scss";






