.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: hsl(277, 38%, 87%);
    border-radius: 9px;
    width: 300px;
    margin: 0 auto;
  }
  
  
  .form-container label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-container select,
  .form-container input {
    padding: 7px;
    font-size: 13px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(209, 207, 207);
  }
  
  .form-container button {
    background-color: hsl(124, 9%, 62%);
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  
  }
  
  .form-container button:hover {
    background-color: #45a049;
  }