// Colores principales
$primary-fuchsia: #E2007E; // Color principal (Fucsia)

// Colores complementarios
$complementary-turquoise: #44BAC1; // Turquesa
$complementary-purple: #9C4AA0; // Púrpura
$complementary-yellow: #FFB024; // Amarillo
$complementary-red: #F45540; // Rojo
$complementary-dark-pink: #A5165B; // Rosa oscuro

// Colores neutrales
$neutral-black: #1D1D1B; // Negro para textos y fondo oscuro

// Otros colores (según los degradados y variaciones)
$complementary-gradient-dark-pink: rgba(165, 22, 91, 0.7); // Rosa oscuro semi-transparente
