* {
    box-sizing: border-box;
}

div.react-chatbot-kit-chat-container {
    width: 400px;
    height: 500px;
    right: 70px;
    bottom: 240px;
    position: fixed;
    z-index:1000;
}

div.react-chatbot-kit-chat-inner-container {
    border: 3px solid #dbc5d1;
    overflow: auto;
    padding: 1px;
    display: flex;
    background: linear-gradient(to bottom, white, rgb(223, 230, 232));
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}

div.react-chatbot-kit-chat-inner-container .header {
    padding: 5px;
    color: white;
    background-color: #f393c8c2;
    border-radius: 3px 3px 1px 1px;

  
}

div.react-chatbot-kit-chat-header {}

div.react-chatbot-kit-chat-input-container {
    
}




div.react-chatbot-kit-chat-message-container {
    padding: 5px;
    box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.3);
}

.react-chatbot-kit-chat-input-container {
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background-color: white; 
    padding: 0px; 
    z-index: 1001; 
    display: flex; 
    align-items: center; 
    gap: 10px; 
   
}
input.react-chatbot-kit-chat-input {
    flex: 1; 
    border: 1px solid #ddd; 
    border-radius: 5px;
    padding: 10px; 
    font-size: 14px; 
    color: #333; 
    background-color: white; 
    outline: none; 
    margin-left: 4px;
}

form.react-chatbot-kit-chat-input-form {
    margin-left: -3px;
    margin-bottom: -20px;
}

div.react-chatbot-kit-chat-input::placeholder {

}

button.react-chatbot-kit-chat-btn-send {
    background-color: #7198ec; 
    border-radius: 5px; 
    padding: 10px 10px; 
    margin-right: -3px;
    transition: background-color 0.3s ease;

}
button.react-chatbot-kit-chat-btn-send:hover {
    background-color: hsl(223, 89%, 56%); /* Cambia este color al que desees */
}

div.react-chatbot-kit-chat-btn-send-icon {}

div.react-chatbot-kit-chat-bot-message-container {
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    background-color: #f5eef2;
    margin-bottom: 5px;
}


div.react-chatbot-kit-user-avatar-container {
    background-color: hsl(210, 60%, 72%);
    margin-bottom: 10px;
}


div.react-chatbot-kit-chat-bot-avatar-container {
    content: "E";
    background-color: hsl(0, 0%, 90%);
}

div.react-chatbot-kit-chat-bot-avatar-icon {}

div .react-chatbot-kit-chat-bot-message-container .react-chatbot-kit-chat-bot-avatar-container .react-chatbot-kit-chat-bot-avatar-letter {
    font-size: 0;
    position: relative;
}

p.react-chatbot-kit-chat-bot-avatar-letter::before {
    content: "C";
    font-size: 24px;
    font-weight: bold;
    color: rgb(239, 159, 219);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centra la nueva letra */
}

div.react-chatbot-kit-user-chat-message {
    border: 2px solid rgb(162, 193, 224);
    background-color: #D0F7FD;
    margin-bottom: 10px;
    
}

div.react-chatbot-kit-user-chat-message-arrow {
    border-left: 8px solid rgb(162, 193, 224);
    position: absolute;
    right: -8px;
}

div.react-chatbot-kit-chat-bot-message {
    width: 70%;
    right: 50px;
}

div.react-chatbot-kit-chat-bot-message-arrow {}

div.react-chatbot-kit-chat-bot-loading-icon-container {}

div.chatbot-loader-container {}

#chatbot-loader #chatbot-loader-dot1 {}

#chatbot-loader #chatbot-loader-dot2 {}

#chatbot-loader #chatbot-loader-dot3 {}

div.react-chatbot-kit-error {}

div.react-chatbot-kit-error-container {}

div.react-chatbot-kit-error-header {}

div.react-chatbot-kit-error-docs {}

.react-chatbot-kit-chat-message-container .boxPreguntas {

    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    align-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    background-color: rgb(240, 229, 238);
    margin-bottom: 22px;
}

.react-chatbot-kit-chat-message-container .boxPreguntas button {
    width: 200px;
    padding: 10px;
    background-color: hsl(302, 43%, 74%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    word-wrap: break-word;
}

.react-chatbot-kit-chat-message-container .boxPreguntas button:hover {
    background-color: #b19cb1;
}

.react-chatbot-kit-user-chat-message-container {
    margin: 10px 2px 2px 2px;
    position: relative;
}

.react-chatbot-kit-user-chat-message {
    background-color: #D0F7FD;
}

.react-chatbot-kit-user-chat-message.custom {
    right: 20px;
    border-radius: 2px;
    border: 2px solid rgb(162, 193, 224);
}

.botones {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 10px; 
    margin-bottom: 10px;
  }
  
  .botones button {
    background-color: #f393c8c2; 
    color: white; 
    font-size: 13px;
    padding: 11px 16px; 
    border: none; 
    border-radius: 30px; 
    cursor: pointer;
    transition: all 0.3s ease; 
  }

  i.fas.fa-times{
    font-size:30px;
  }
  
 
  .botones button:hover {
    background-color: hsl(236, 93%, 78%); 
    transform: translateY(-2px); 
  }
  
  .botones button:active {
    transform: translateY(0); 
  }

 
  @media (max-width: 767px) {
    div.react-chatbot-kit-chat-container {
        width: 335px; 
        height: 300px; 
        right: 40px; 
        bottom: 320px; 
    }
} 
 @media (min-width: 769px) and (max-width: 1024px) {
    div.react-chatbot-kit-chat-container {
        width: 500px; 
        height: 450px; 
        right: 40px; 
        bottom: 180px; 
    }
}

@media (min-width: 1025px)and (max-width: 3840px) {
    div.react-chatbot-kit-chat-container {
        width: 500px;
        height: 450px;
        right: 70px;
        bottom: 240px;
    }
}

 @media (min-width: 3841px) {
 div.react-chatbot-kit-chat-container {
    width: 800px; 
    height: 600px;
    right: 150px; 
    bottom: 300px;
}
 }