* {
    box-sizing: border-box;
}

div.react-chatbot-kit-chat-container {
    width: 430px;
    height: 400px;

    right: 70px;
    bottom: 240px;
    position: fixed;
    z-index:1000;
}

div.react-chatbot-kit-chat-inner-container {
    border: 3px solid #c79dc3;
    overflow: auto;
    padding: 1px;
    display: flex;
    background: linear-gradient(to bottom, white, rgb(223, 230, 232));

    flex-direction: column;
    height: 100%;
    /* Asegura que use toda la altura del contenedor */
    overflow-y: auto;
    /* Habilita el scroll para el contenido */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

div.react-chatbot-kit-chat-inner-container .header {
    padding: 5px;
    color: white;
    background-color: hsl(300, 55%, 88%);
    border-radius: 3px 3px 1px 1px;

    background: linear-gradient(to bottom, #E3ABE4, hsl(283, 66%, 82%));
}

div.react-chatbot-kit-chat-header {}

div.react-chatbot-kit-chat-input-container {
    display: none;
}

div.react-chatbot-kit-chat-message-container {
    padding: 5px;
    box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.3);
}

div.react-chatbot-kit-chat-input {}

div.react-chatbot-kit-chat-input-form {}

div.react-chatbot-kit-chat-input::placeholder {}

div.react-chatbot-kit-chat-btn-send {}

div.react-chatbot-kit-chat-btn-send-icon {}

div.react-chatbot-kit-chat-bot-message-container {
    padding: 5px;
    margin: 2px;

    border-radius: 5px;
    background-color: rgb(249, 230, 245);
}

div.react-chatbot-kit-chat-bot-avatar-container {
    content: "E";
    background-color: rgb(249, 246, 248);
}

div.react-chatbot-kit-chat-bot-avatar-icon {}

div .react-chatbot-kit-chat-bot-message-container .react-chatbot-kit-chat-bot-avatar-container .react-chatbot-kit-chat-bot-avatar-letter {
    font-size: 0;
    position: relative;
}

p.react-chatbot-kit-chat-bot-avatar-letter::before {
    content: "E";
    font-size: 24px;
    font-weight: bold;
    color: black;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centra la nueva letra */
}

div.react-chatbot-kit-user-chat-message {
    border: 2px solid rgb(162, 193, 224);
    background-color: #D0F7FD, 
}

div.react-chatbot-kit-user-chat-message-arrow {
    border-left: 8px solid rgb(162, 193, 224);
    position: absolute;
    right: -8px;
}

div.react-chatbot-kit-chat-bot-message {
    width: 70%;
    right: 50px;
 
}

div.react-chatbot-kit-chat-bot-message-arrow {}

div.react-chatbot-kit-chat-bot-loading-icon-container {}

div.chatbot-loader-container {}

#chatbot-loader #chatbot-loader-dot1 {}

#chatbot-loader #chatbot-loader-dot2 {}

#chatbot-loader #chatbot-loader-dot3 {}

div.react-chatbot-kit-error {}

div.react-chatbot-kit-error-container {}

div.react-chatbot-kit-error-header {}

div.react-chatbot-kit-error-docs {}

.react-chatbot-kit-chat-message-container .boxPreguntas {

    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    align-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    background-color: rgb(253, 209, 245);
}

.react-chatbot-kit-chat-message-container .boxPreguntas button {
    width: 200px;
    padding: 10px;
    /* Espaciado interno del botón */
    background-color: #cda7cc;
    /* Color de fondo */

    color: white;
    /* Color del texto */
    border: none;
    /* Sin borde */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cursor al pasar sobre el botón */
    word-wrap: break-word;
}

.react-chatbot-kit-chat-message-container .boxPreguntas button:hover {
    background-color: #b37fb1;
    /* Cambio de color al pasar el cursor */
}

.react-chatbot-kit-user-chat-message-container {
    margin: 10px 2px 2px 2px;
    position: relative;
}

.react-chatbot-kit-user-chat-message {
    background-color: #D0F7FD;
}

.react-chatbot-kit-user-chat-message.custom {

    right: 20px;
    border-radius: 2px;
    border: 2px solid rgb(162, 193, 224);
}

.botones {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaciado entre los botones */
    margin-top: 20px; /* Separación desde el elemento superior */
  }
  
  .botones button {
    background-color: #d0addd; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 13px;
    padding: 11px 16px; /* Espaciado interior */
    border: none; /* Sin borde */
    border-radius: 30px; 
    cursor: pointer;
    transition: all 0.3s ease; 
  }
  
 
  .botones button:hover {
    background-color: hsl(236, 93%, 78%); 
    transform: translateY(-2px); 
  }
  
  .botones button:active {
    transform: translateY(0); 
  }
  