.chart-pie {
  width: 100%;
  max-width: 600px; /* Máximo ancho */
  margin: 0 auto; /* Centrado */
  text-align: center;

  h3 {
    font-size: 18px;
    margin-bottom: 15px; /* Espacio adicional debajo del título */
  }

  /* Incrementamos la altura general del contenedor */
  .echarts-for-react {
    height: 450px; /* Altura general ajustada */
  }

  /* Móviles pequeños */
  @media (max-width: 480px) {
    .chart-pie {
      max-width: 100%; /* Ocupa todo el ancho disponible */
      margin: 0 auto; /* Centrar la gráfica */
    }

    .echarts-for-react {
      height: 300px; /* Altura moderada para pantallas pequeñas */
    }
  }

  /* Móviles grandes y tablets pequeñas */
  @media (min-width: 481px) and (max-width: 768px) {
    .chart-pie {
      max-width: 100%; /* Ocupa todo el ancho */
      margin: 0 auto; /* Centrar la gráfica */
    }

    .echarts-for-react {
      height: 350px; /* Altura moderada */
    }
  }

  /* Tablets grandes y portátiles pequeños */
  @media (min-width: 769px) and (max-width: 1024px) {
    .chart-pie {
      max-width: 10%; /* Gráfica más compacta */
      margin: 0 auto; /* Centrar la gráfica */
    }

    .echarts-for-react {
      height: 400px; /* Altura ligeramente mayor */
    }
  }

  /* Sobremesas y monitores grandes */
  @media (min-width: 1025px) {
    .chart-pie {
      max-width: 900px; /* Gráfica más grande en pantallas amplias */
      margin: 0 auto; /* Centrar la gráfica */
    }

    .echarts-for-react {
      height: 450px; /* Altura máxima */
    }
  }
}
