

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #E2007E; /* Color principal (Fucsia) */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    left: 0;

    .nav-items {
        display: flex;
        gap: 1rem;

        .button {
            padding: 0.5rem 1rem;
            background: #44BAC1; /* Color complementario */
            color: #FFFFFF; /* Blanco para contraste */
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background: #9C4AA0; /* Segundo color complementario */
            }
        }
    }
}
