* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #ffffff;
}

.boxApp {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; 
}


.echarts-for-react {
    padding-top: 80px;
}