* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #ffffff;
}

.boxApp {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; 
}

footer {
    background-color: #222; 
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.echarts-for-react {
    padding-top: 80px;
}